@font-face {
    font-family: 'SUSE', monospace;
    src: url('static/font/SUSE[wght].woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'SUSE', monospace;
    font-weight: medium;
}

main {
    margin-left: auto;
    margin-right: auto;
}

div {

    margin-left: auto;
    margin-right: auto;
}

div.reviewcard {
    padding: 0.25em;
    border-style: solid;
    border-width: thin;
    text-align: left;
}

div.bookinfobox {
    padding: 0.25em;
    text-align: center;
}

div.searchcard {
    border-style: solid;
    border-width: thin;
    padding: 0.25em;
    text-align: justify;
}

div.searchcard img {
    max-width: auto;
    max-height: auto;
}

div.descriptioncard {
    text-align: left;
}


span.infobadge {
    border-style: solid;
    border-width: thin;
    margin: 0.05rem;
    padding: 0.10em;
    overflow-wrap: balance;
    display: inline-block;

    font-size: 0.65em;
    font-weight: normal;
}


img {
    padding: 0.75em;
}

.textcomponent {
    max-width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    align-items: center;
    justify-content: center;
    display: flex;
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}

nav.navbar {
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
}

nav.navbar div.navbaritem {
    float: left;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

a:link {
    color: cornflowerblue;
}

a:visited {
    color: cornflowerblue;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: cornflowerblue;
}

hr {
    max-width: 80%;
}

footer {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
footer a.footerlink{
    float: left;
    margin: 0.5em;
}
