package components

import "server/db"
import "fmt"

templ BookInfoBox(w db.Work) {
	<div class="text-center">
		<figure class="figure">
			<img src={ fmt.Sprintf("https://covers.openlibrary.org/b/id/%s-L.jpg", *w.Cover) } class="figure-img img-fluid rounded" alt="book cover"/>
			<figcaption class="figure-caption">{ w.Title }</figcaption>
		</figure>
	</div>
}
