package components

import "server/db"
import "strconv"

templ ReviewCard(r db.Review) {
	<div class="card w-50 mx-auto">
		<div class="card-body">
			<h4 class="class-title">{ r.Username }</h4>
			if *r.Rating>float64(0) {
				<h5 class="class-subtitle">Rated { strconv.FormatFloat(*r.Rating,'f',0,64) } on { r.Source }</h5>
			} else {
				<h5 class="class-subtitle">Reviewed on { r.Source }</h5>
			}
			<p class="card-text">
				{ *r.Text }
			</p>
		</div>
	</div>
}
