package components

templ Navbar() {
	<nav class="site-nav">
		<div class="nav-links">
			<div class="site-title">
				<a>bookregator</a>
			</div>
			<a class="nav-link" href="/">Home</a>
			<a class="nav-link" href="/random">Random</a>
			<a class="nav-link" href="/about">About</a>
			<form method="get" action="search">
				<input name="query" id="query" type="search" placeholder="Search Me!"/>
			</form>
		</div>
	</nav>
}
