package components

import "server/db"
import "strconv"
import "strings"

templ ReviewCard(r db.Review) {
	<div class="review" data-source={ r.Source } data-id={ r.ExternalID }>
		if len(*r.Text) > 600 {
			<details>
				<summary>
					@reviewHeader(r)
				</summary>
				@reviewBody(r)
			</details>
		} else {
			@reviewHeader(r)
			@reviewBody(r)
		}
	</div>
}

templ reviewHeader(r db.Review) {
	<h4>
		{ r.Username }
		<span class="badge">
			{ r.Source } |
			if r.Rating<=float64(0) {
				No Rating
			} else {
				{ strconv.FormatFloat(r.Rating,'f',1,64) } out of 5
			}
		</span>
	</h4>
}

templ reviewBody(r db.Review) {
	for text:=range strings.SplitSeq(*r.Text,"\n") {
		<p>{ text }</p>
	}
}
