package shared

import "net/http"
import "server/web/components"

type Base struct {
	Title string
	Err   error
}

func NewBase(title string) Base {
	return Base{title, nil}
}

templ (b Base) Render(rw http.ResponseWriter, r *http.Request) {
	b.Html().Render(r.Context(), rw)
}

templ (b Base) Html() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1"/>
			<link href="static/css/style.css" rel="stylesheet"/>
			<title>{ b.Title }</title>
		</head>
		<body>
			@components.Navbar()
			<main>
				{ children... }
			</main>
			<footer>
				<hr/>
				<div class="footer-links">
					<a class="footer-link" href="/about">About</a>
					<a class="footer-link" href="/">Home</a>
					<a class="footer-link" href="/add">Add a book</a>
				</div>
			</footer>
			<div id="toast-container"></div>
		</body>
	</html>
}
